src/state_machines/starttopicdetectionjob.asl.json
{
  "Comment": "Runs Lambda used to process Extract File Created Queue ",
  "StartAt": "Process Queue",
  "States": {
    "Process Queue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${startTopicDetectionJobLambdaArn}"
      },
      "Next": "More Messages"
    },
    "More Messages": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.moreMessages",
          "BooleanEquals": true,
          "Next": "Process Queue"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}